---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const allProjects = await getCollection("project");
---

<Layout title="My Projects">
  <main>
    <ul>
      {
        allProjects.map((project) => {
          console.log(project);
          const { title } = project.data;
          return (
            <li id={project.id}>
              {title} <a href=`projects/${project.id}`>Enter</a>
            </li>
          );
        })
      }
    </ul>
  </main>
</Layout>

<style>
  li {
    color: white;
  }
</style>
